<!DOCTYPE html>
<html>
  <head>
    <meta name="attention" content="attention" />
    <meta charset="UTF-8" />
    <title>SpcDashboard</title>
      <p>
        <memo:__> memo </memo:__>
        <!-- <img src="control-chart.png" alt="Italian Trulli"> -->
        <p>{{ name }}</p>

        <img src="{/static/Nelson65.png}" alt="Chart" height="42" width="42">
      </p>
    <link
      rel="stylesheet" -->
    <script>
    var jsonfile = {jsonfile};

    </script>
  </head>
  <body>
    <div class="container">


    {{jsonfile}}

    
  </div>
  </body>
</html>